@import "compass/css3";


.container {
  position: relative;
  text-align: center;
  color: white;
}



.top-right {
  position: absolute;
  top: -319px;
  right: -58px;
}


form {
  display: flex;
  flex-wrap: wrap; 
  margin-left: 1056px; 
  margin-top: 70px;
  /* margin-bottom: -9px; */
  margin-right: 72px;
  &.vertical {
    flex-direction: column;
  }
  &.horizontal {
    flex-direction: row;  
    label {
      flex-basis: 40%;
    }
    input, textarea {
      flex-basis: 100%;
    }
    input[type=submit] {
      flex-basis: 100%;
    }
  }

}

// ==== Design
form {
  width: 440px;
  background: #cecece;
  margin-bottom: 20px;
  padding: 10px;

  &.vertical {
    margin-right: 20px;
  } 
}

label {
  display: block;
}
input, textarea {
  margin-bottom: 10px;
  border: none;
  height: 40px;
  line-height: 40px;
  .vertical & {
    margin-top: 5px;
  }
}
textarea {
  height: 150px;
}

input[type=submit] {
  border: none;
  background-color: #caae60;

  .vertical & {
    width: 100%;
    display: block;
  }
}
